#trigger-menu {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #FFFFFF;
    box-shadow: 0 0 10px var(--light-shadow);
    border-radius: 3px;
    cursor: pointer;
    transition: .2s;
}

#trigger-menu:hover {
    box-shadow: 0 0 1px var(--light-shadow);
}

#trigger-menu .menu-bar {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 30px;
    height: 3px;
    background-color: var(--main-color);
}

#trigger-menu .menu-bar:nth-child(1) {
    top: calc(50% - 10px);
}
#trigger-menu .menu-bar:nth-child(2) {
    top: 50%;
}
#trigger-menu .menu-bar:nth-child(3) {
    top: calc(50% + 10px);}