:root {
    --main-color: #9C27B0;
    --main-color-light: #C671D5;
    --main-color-dark: #6A037C;
    --second-color: #11B8CC;
    --second-color-light: #60CDDD;
    --second-color-dark: #017180;
    --fatna: #F8C9C8;
    --angelique: #0B2E4E;
    --kelly: #01B1AE;

    --status-green: #5EB562;
    --status-orange: #FC9309;
    --status-red: #E8403D;

    --status-green-light: rgba(94,181,98,0.1);
    --status-orange-light: rgba(252,147,9,0.1);
    --status-red-light: rgba(232,64,61,0.1);

    --white: #FFFFFF;
    --light-grey: #F9F9F9;
    --grey: #EEEEEE;
    --dark-grey: #757575;
    --text-grey: #424242;

    --main-font: 'Montserrat', sans-serif;
    --light-shadow: rgba(0, 0, 0, 0.15);
}

html {
    font-family: var(--main-font);
    background-color: var(--light-grey);
    color: var(--text-grey);
}

a:visited, a:focus, a:active {
    color: inherit;
}

.App {
    padding: 20px;
}

.title {
    display: flex;
    align-items: center;
    height: 50px;
    width: max-content;
    padding: 10px 20px;
    margin: 0 0 20px 0;
    background-color: var(--main-color);
    color: var(--white);
    font-size: 1.4rem;
    border-radius: 3px;
}

input, select, textarea {
    outline: none;
}

.button, a.button {
    padding: 10px 20px;
    background-color: var(--second-color);
    color: var(--white);
    border-radius: 3px;
    box-shadow: 0 0 10px var(--light-shadow);
    text-decoration: none;
    transition: .2s ease;
}

.button:hover, a.button:hover {
    background-color: var(--second-color-dark);
}
